---
import Layout from "../../../layouts/Layout.astro";
import ImageCockpit from '../../../components/ImageCockpit.astro';
import { languages } from '../../../i18n/ui';
import { getExhibitions, getExhibitionById } from "../../../services/collections";

// Fonction pour générer les chemins statiques pour chaque artiste et langue
export async function getStaticPaths() {
  const exhibitions = await getExhibitions();  // Récupère tous les artistes
  // Créer un tableau de chemins pour chaque artiste et chaque langue
  return exhibitions.flatMap(exhibition => 
    Object.keys(languages).map(lang => ({
      params: { lang, exhibition_slug: exhibition.slug },
      props: { exhibition_id: exhibition._id, lang }, 
    }))
  );
}

const { exhibition_slug, lang } = Astro.params;
const { exhibition_id } = Astro.props;
const exhibition = await getExhibitionById(exhibition_id, lang);
// const artist = artwork.artist?._id ? await getArtistById(artwork.artist._id, lang) : null;
---

<Layout title={ exhibition?.title } currentLocale={lang}>
  <div class="mb-6">
    <a href="javascript:history.back()" class="inline-flex items-center text-gray-600 hover:text-black">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
        <path d="M19 12H5M12 19l-7-7 7-7"/>
      </svg>
      Retour
    </a>
  </div>
  <div class="grid gap-10 lg:grid-cols-3">
    <div>
      <h1 class="text-3xl mb-4">
        {exhibition ? (
          <a href={`/${lang}/exhibitions/${exhibition.slug}`} class="hover:underline">
            {exhibition.title}
          </a>
        ) : "Artiste inconnu"}
      </h1>
      <!-- <h2 class="text-xl mb-4">
        <span class="italic">{ exhibition?.title }</span>{ exhibition?.year && ( <span> – { exhibition?.year }</span> )}
      </h2>
      <p>{ exhibition?.description }</p> 
      <p>{ exhibition?.size }</p> -->
    </div>
    <!-- <ImageCockpit image={exhibition?.image} width={1600} height={1600} resize="bestFit" classes="col-span-2 max-h-[70dvh] w-auto" /> -->
  </div>

</Layout>