---
// Importation de la fonction pour générer une URL relative en fonction de la langue courante
import { getRelativeLocaleUrl } from 'astro:i18n';
// Importation du composant pour afficher les images depuis Cockpit CMS
import ImageCockpit from '../components/ImageCockpit.astro';
import { formatDateRange } from '../js/dateFormatter.js';
import type { Exhibition } from '../types/types';

interface Props {
  exhibition: Exhibition;
  currentLocale: string;
}

const { exhibition, currentLocale } = Astro.props as Props;
// Génération du lien vers la page de l'artiste avec la bonne langue
const cardLink = getRelativeLocaleUrl(currentLocale, `/exhibitions/${exhibition.slug}`);
// Formatage des dates de début et de fin
const dateRange = formatDateRange(exhibition.start_date, exhibition.end_date);
---
<article data-key={exhibition._id}>
  <a href={cardLink}>
    <ImageCockpit image={exhibition.image} width={700} height={700} resize="thumbnail" />
    <h2 class="mt-2 text-lg font-medium">{exhibition.title}</h2>
    <p>{dateRange}</p>
  </a>
</article>