---
import { ui, defaultLang } from '../i18n/ui'; // Importation des traductions
import LogoFooter from '../assets/icons/logo-ikonoart-white.svg';
import { Image } from 'astro:assets';

const lang = Astro.currentLocale;

// Accéder aux traductions du menu de navigation
const footer = ui[lang]?.footer ?? ui[defaultLang].footer;
---

<footer class="bg-(--verydarkikonoart) text-white mt-20">
  <div class="max-w-8xl mx-auto py-20 px-4 grid grid-cols-2 gap-4 gap-y-12 lg:grid-cols-5">
    <a class="max-lg:col-span-2" href=`/${lang}/` aria-label="Accueil">
      <LogoFooter width="120"/>
    </a>
    <nav class="">
      <h3 class="uppercase mb-4 opacity-70">{footer.nav1_title}</h3>
      <ul>
        <li><a href={`/${lang}/artists/`}>{footer.nav1_item1}</a></li>
        <li><a href={`/${lang}/artworks/`}>{footer.nav1_item2}</a></li>
      </ul>
    </nav>
    <nav class="">
      <h3 class="uppercase mb-4 opacity-70">{footer.nav2_title}</h3>
      <ul>
        <li><a href={`/${lang}/order-process`}>{footer.nav2_item1}</a></li>
        <li><a href={`/${lang}/portfolio-reading`}>{footer.nav2_item2}</a></li>
        <li><a href={`/${lang}/rental`}>{footer.nav2_item3}</a></li>
        <!-- <li><a href={`/${lang}/`}>{footer.nav2_item4}</a></li> -->
      </ul>
    </nav>
    <div class="">
      <h3 class="uppercase mb-4 opacity-70">{footer.nav3_title}</h3>
      <ul>
        <li><a href="https://ikono.photo/">{footer.nav3_item1}</a></li>
        <li><a href="https://ikono.photo/ikono-lifeshot/">{footer.nav3_item2}</a></li>
        <!-- <li><a href="">{footer.nav3_item3}</a></li> -->
        <!-- <li><a href="">{footer.nav3_item4}</a></li> -->
      </ul>
    </div>
    <nav class="">
      <h3 class="uppercase mb-4 opacity-70">{footer.nav4_title}</h3>
      <ul>
        <li><a href={`/${lang}/contact`}>{footer.nav4_item1}</a></li>
        <li><a href={`/${lang}/social-media`}>{footer.nav4_item2}</a></li>
      </ul>
    </nav>
  </div>
</footer>